.header-container{
    background-color: aqua;
    height:100px;
    width: 100%;

}
.searchbox{
    width:300px;
    height:50px;
}
.searches{
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}